.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 60px;
}
.outer-container{
  width: 80%;
  background-color: #87CEFF;
  text-align: center;
}
.form-container {
  margin-left: 1em;
  margin-right: 1em;
  background-color: #4b4b4b;
  color: #000000;
  padding: 1em;
}
.title {
  font-style: italic;
  color: #000000;
  font-size: 60px;
  padding: 0.5em 1em 0.5em 1em;
}
.textInput {
  border-radius: 0.5em;
  border: darkgray;
  background-color: darkgray;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 2em;
  width: 16em;
  outline: none;
  margin-bottom: 1em;
  text-align: center;
}
input {
  width: 15em;
  font-size: 20px;
  border-radius: 0.5em;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  background-color: #87CEFF;
  border: solid #000000;
  outline: none;
  color: #484848;
}
button:hover {
  background-color: transparent;
  color: #343434;
}
p{
  font-size: 30px;
  color: #000000;
  padding: 0.2em;
}