<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="html" href="{% static 'components/textBox.html' %}">
    <link rel="icon" href="{% static 'image/favicon.ico' %}">
</head>
<body>
{% include "navbar.html" %}
<div class="layout-container">
    <main class="content-container">
        {% block content %}
       <h1 style="text-align:center;">CONTACT US</h1>
<p>For any issues comments or concerns please contact us or follow us on any of our social media platforms</p>
<br>

            <div class="center-form">
<form>

<label>Enter Your Name:</label>

<input type="text" name="name" placeholder="Enter Your Name">

<br><br>

<label>Enter Your Email:</label>

<input type="email" name="e-mail" placeholder="Name@Example.com">

<br><br>
    Comments:<br>
 <textarea rows ="5" cols = "40" name = "Description" spellcheck="false">

 </textarea>
    <br>
    <br>
    <input type="submit">
</form>

</div>
            <br>
            <br>
            <br>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


</style>
</head>
<body>

<h2>Follow Social medias below</h2>


<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>


        {% endblock %}
    </main>
</div>
</body>
</html>