<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkyFinder</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}">
    <link rel="icon"href="{% static 'image/favicon.ico' %}">
</head>
<body>
    {% include "navbar.html" %}
        <div class="layout-container">
            <main class="content-container">
                {% block content %}
                    <p>test home</p>

                    <div class="wrapper eight">
                        <h3 class="smoke">
                            <span>S</span>
                            <span>M</span>
                            <span>O</span>
                            <span>K</span>
                            <span>E</span>
                        </h3>
                    </div>
                {% endblock %}
            </main>
        </div>
        <div class="text-container">
  <p>This is some text.</p>
</div>
</body>
</html>