<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SkyFinder</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}">
    <link rel="icon"href="{% static 'favicon.ico' %}">

</head>
<body>
    {% include "navbar.html" %}
        <div class="layout-container">
            <main class="content-container">
                {% block content %}
                    <div class="wrapper eight">
                        <h3 class="smoke">
                            <span>S</span>
                            <span>K</span>
                            <span>Y</span>
                            <span>F</span>
                            <span>I</span>
                             <span>N</span>
                             <span>D</span>
                             <span>E</span>
                             <span>R</span>
                        </h3>
                    </div>
                {% endblock %}
                <p>The SKY FINDER app allows users to track flights from across any airline providing notifications if any delay,cancellation occurs.</p>
                <p>While also providing departure and arrival time along with terminal and gate number </p>
            </main>
        </div>
        <div class="text-container">

</div>
</body>
</html>